# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.lock*  # libre office temp files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
*.gb*
*.gt*
*.gm*
*.rar
*.drl

# BOM Files / Notes in Libre office

# Exported BOM files
*.xml
*.csv

# Images
*.png
*.svg
*.jpg

